[flake8]
exclude = .git,__pycache__,.vscode,cradle,manage.py,env,counter/migrations,user/migrations,venv

max-line-length = 88
extend-ignore =
    # See https://github.com/PyCQA/pycodestyle/issues/373
    E203,
