[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "5.0.4"
psycopg = "3.1.18"
djangorestframework = "3.15.1"
django-cors-headers = "4.3.1"
flake8 = "7.0.0"
coverage = "7.5.0"
black = "24.4.2"
djangorestframework-simplejwt = "5.3.1"
mypy = "1.10.0"
mypy-gitlab-code-quality = "1.1.0"
djangorestframework-stubs = "3.15.0"
django-stubs = "*"
django-stubs-ext = "*"
minio = "*"
tblib = "*"
django-model-utils = "*"
django-extensions = "*"
pytest = "*"
pyyaml = "*"
mistune = "*"

[dev-packages]

[requires]
python_version = "3.11"
