[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "5.0.4"
djangorestframework = "3.15.1"
django-cors-headers = "4.3.1"
djangorestframework-simplejwt = "5.3.1"
djangorestframework-stubs = "3.15.0"
django-stubs = "*"
django-stubs-ext = "*"
minio = "*"
django-model-utils = "*"
django-extensions = "*"
pytest = "*"
pyyaml = "*"
mistune = "*"
drf-spectacular = "*"
django-filter = "*"
pytest-django = "*"
environs = "*"
django-lifecycle = "*"
sentry-sdk = {extras = ["django"], version = "*"}
celery = {extras = ["redis"], version = "*"}
redis = "*"
python-redis-lock = "*"
diff-match-patch = "*"
xeger = "*"
bleach = "*"
numpy = "*"
scipy = "*"
psycopg2-binary = "*"
dnspython = "*"
bcrypt = "*"
django-celery-beat = "*"
requests = "*"
python-frontmatter = "*"

[dev-packages]
bump-my-version = "*"
deptry = "*"
coverage = "*"
flake8 = "7.0.0"
black = "24.4.2"
mypy = "1.10.0"
ipython = "*"
autoflake = "*"
flake8-pyproject = "*"
