@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@plugin "@tailwindcss/typography";

body {
    font-family: 'Roboto', sans-serif;
}

.CodeMirror {
    font-family: 'Source Code Pro', monospace;
    font-size: 14px;
}

[data-theme='light'] .CodeMirror .cm-cursor,
[data-theme='light'] .CodeMirror .cm-dropCursor {
    border-left-color: #000000 !important;
}

/* This class belongs to the reponse message from a vim command in the CodeMirror editor */
.cm-vim-message {
    overflow: hidden !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
    max-width: 275px !important; /* Text is truncated after this size */
}

.graph-highlighted {
    stroke: #f68d2e !important;
    stroke-width: 4 !important;
}

.tooltip-hover::before,
.tooltip-click::before,
.tooltip::before {
    white-space: pre-line;
}

[data-theme='light'] .tab-toggle:checked + .tab.tab-pill,
[data-theme='light'] .tabs-boxed .tab-toggle:checked + .tab {
    --tw-bg-opacity: 0.2 !important;
    background-color: rgb(var(--cradle3) / var(--tw-bg-opacity)) !important;
}

/* Show header anchor icon on hover */
h1:hover .header-anchor-icon,
h2:hover .header-anchor-icon,
h3:hover .header-anchor-icon,
h4:hover .header-anchor-icon,
h5:hover .header-anchor-icon,
h6:hover .header-anchor-icon {
    opacity: 1;
}
