@tailwind base;
@tailwind components;
@tailwind utilities;

/* This class belongs to the reponse message from a vim command in the CodeMirror editor */
.cm-vim-message {
    overflow: hidden !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
    max-width: 275px !important; /* Text is truncated after this size */
}