PORT=1234
DJANGO_BASE_URL=http://localhost:8000
DJANGO_API_BASE_PATH=api
BASE_URL=collab/
COLLAB_HMAC_SECRET=change-me
COLLAB_LOG_LEVEL=debug
COLLAB_CACHE_MAX_ENTRIES=50
COLLAB_CACHE_MAX_AGE_MS=300000
